# The RADIUS servers to query
# Note that the "host" and "method" arguments are mandatory!

radius1 {
        host    localhost
        port    1812
        bind    0.0.0.0
        secret  v3rYs3cr1t
        method  CHAP
}
